<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    

    <title>Библиотека</title>
    <link rel="icon" href="../static/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="../static/vendors/bootstrap/bootstrap.min.css">
  </head>
  <body>
    <div class="mt-5 {
      margin-top: 40 !important;
    } p-3 {
      padding: $spacer !important;
    }">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-lg ">
          {% if current_page == 1 %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true">Назад</a>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{ current_page - 1 }}.html">Назад</a></li>
          {% endif %}
          {% for page_number in range(1, count_pages + 1) %}
            {% if page_number == current_page %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="index{{ page_number }}.html">{{ current_page }}
                  <span class="sr-only">(current)</span>
                </a>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{ page_number }}.html">{{ page_number }}</a></li>
            {% endif %}
          {% endfor %}
          {% if current_page == count_pages %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true">Вперед</a>
          {% else %}
            <li class="page-item"><a class="page-link" href="index{{ current_page + 1 }}.html">Вперед</a></li>
          {% endif %}

        </ul>
      </nav>
    </div>
    {% for book_left, book_right in books %}
      <div class="container mt-4">
        <div class="row">
          <div class="card mx-auto" style="width: 32rem;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../media/images/{{ book_left.image_path|urlencode }}" class="card-img" alt='{{ book_left.title }}'>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ book_left.title }}</h5>
                  <p class="card-text">{{ book_left.author }}</p>
                  {% for genre in book_left.genres %}
                    <h6><span class="badge badge-secondary">{{ genre }}</span></h6>
                  {% endfor %}
                  <a href="../media/books/{{ book_left.book_path|urlencode }}" target="_blank" rel="noopener noreferrer">Читать</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card mx-auto" style="width: 32rem;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../media/images/{{ book_right.image_path|urlencode }}" class="card-img" alt='{{ book_right.title }}'>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ book_right.title }}</h5>
                  <p class="card-text">{{ book_right.author }}</p>
                  {% for genre in book_right.genres %}
                    <h6><span class="badge badge-secondary">{{ genre }}</span></h6>
                  {% endfor %}
                  <a href="../media/books/{{ book_right.book_path|urlencode }}" target="_blank" rel="noopener noreferrer">Читать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100"></div>
    {% endfor %}
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/vendors/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/vendors/bootstrap/bootstrap.min.js"></script>
  </body>
</html>
